@media screen and (max-width: 1100px) {
      .about img{
            width: 400px;
            text-align: center;
      }
      
}
@media screen and (max-width: 1000px) {
      .about img{
            width: 350px;
            text-align: center;
      }
      
}
@media screen and (max-width:992px) {
      footer h2{
            font-size: 1.2rem;
      }
      footer li{
            font-size: .9rem;
      }
      .carousel img{
            height: 500px;
      }
      .carousel-control-next , .carousel-control-prev{
            width: 20px;
            height: 20px;
            top: 50%;
            margin-left: 20px;
            margin-right: 20px;

      }
      .carousel-control-next-icon , .carousel-control-prev-icon{
            width: 20px;
            height: 20px;
            border: 1px solid rgb(174, 172, 172);
      }
      .about .image{
            display: flex;
            justify-content: center;
            align-items: center;
      }
      .about img{
            width: 320px;
            text-align: center;
      }
      .about .info h3{
            font-size: 1.1rem;
      }
      .about .info p{
            font-size: .8rem;
      }
      .navbar-collapse{
            background-color: rgb(219, 52, 80) !important;
            /* cursor: white; */
            height: 400px;
            z-index: 0;
            display: block;
            overflow: hidden;
      }
      .navbar-collapse .nav-item .nav-link{
            color: white !important;
            font-size: 1.3rem;
      }
      
}
@media screen and (max-width:800px) {
      footer li{
            font-size: .8rem;
      }
}
@media screen and (max-width:767px) {
      footer h2{
            margin-top: 10px;
      }
      .carousel img{
            height: 400px;
      }
      .about img{
            width: 400px;
            text-align: center;
      }
      .about .info h3{
            font-size: 1.1rem;
      }
      .about .info p{
            font-size: .8rem;
      }
      .about .text{
            text-align: center;
      }
}
@media screen and (max-width:560px) {
      footer {
            text-align: center;
      }
      .carousel img{
            height: 300px;
      }
      .carousel-control-next , .carousel-control-prev{
            width: 15px;
            height: 15px;
            top: 50%;
            margin-left: 20px;
            margin-right: 20px;

      }
      .carousel-control-next-icon , .carousel-control-prev-icon{
            width: 15px;
            height: 15px;
            border: 1px solid rgb(174, 172, 172);
      }
      .about img{
            width: 400px;
            text-align: center;
      }
}
@media screen and (max-width:450px) {

      .about img{
            width: 360px;
            text-align: center;
      }
      .carousel img{
            height: 200px;
      }
}
@media screen and (max-width:400px) {
      .about img{
            width: 330px;
            text-align: center;
      }
}
